<!DOCTYPE html>
<html lang="es">
<head>
	<title>Animex</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="../static/js/main.js"></script>
</head>
<body>
	<header class="header">
		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a href="#" class="nav-link">Animes</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Juegos</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Paginas</a>
				</li>
			</ul>
		</nav>
		<h1 class="header-title">Animex</h1>
		<form class="search-form" id="search-form">
			<span class="icon-search search-icon" id="lens"></span>
			<input type="text" id="search" placeholder="Buscar" name="search" class="search-input" />
		</form>
	</header>
	<section class="articles">
		<div class="articles-main">
			<h2 class="articles-title">Dragon Ball</h2>
			<div class="articles-date">
				Fecha de Publicación 15 Abril 2015
			</div>
			<div class="articles-blog">
				<p>Hola este es mi espacio blog editable en cual puedo hacer un enlace como este <a href="http://facebook.com" target="_blank">Facebook</a> o tambien pudeo hacer este enlace </p>

				<figure style="max-width:200px; margin:0 auto;"><a href="http://facebook.com" target="_blank"><img src="http://cdn-1.famouslogos.us/images/facebook-logo.jpg.pagespeed.ce.gITBfIGQbY.jpg"/></a></figure> 

				<p>Tambien puedo agregar videos como este de youtube</p>

				<section style="max-width:50em; margin: 0 auto;">
				<div class="container-video">
                	<iframe width="560" height="315" src="https://www.youtube.com/embed/BJx-btX0H74" frameborder="0" allowfullscreen></iframe>
				</div>
				</section>
			</div>
			<div class="comentario">
			    <div id="fb-root"></div>
				<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script>	
			    <div class="fb-comments" data-href="http://misitio.com" data-numposts="5" data-colorscheme="light"></div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="footer-information inline-block">
			autor <a href="#" class="footer-link">@barzola95</a>
		</div>
		<form class="footer-form">
			<h3 class="footer-form-title">Contactame</h3>
			<label for="name-contact" class="footer-label">Nombre </label>
			<input type="text" id="name-contact" placeholder="Nombre" name="name" class="footer-input" />
			<label for="email-contact" class="footer-label">Email </label>
			<input type="email" id="email-contact" placeholder="Email" name="email" class="footer-input" />
			<textarea id="motivo-contact" placeholder="Motivo" class="footer-text"></textarea>
			<button type="submit" class="footer-submit">Contactame</button>	
		</form>
	</footer>
</body>
</html>