<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<title>Animex</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="description" content="Animex el mejor sitio anime">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header class="header">
		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a href="#" class="nav-link">Animes</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Juegos</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Paginas</a>
				</li>
			</ul>
		</nav>
		<h1 class="header-title">Animex</h1>
		<!-- Plugin Sociales -->
		<div class="plugin-social">
			<ul>
				<!-- Solo cambian el dominio http://misitio.com por el dominio de su pagina-->
				<li><fb:like href="http://misitio.com" send="false" layout="button_count" font="tahoma"></fb:like></li>
				<li><a class="twitter-share-button" href="https://twitter.com/share"></a></li>
				<!-- Al igual que el anterior cambien el https://twitter.com/bazola95 por su twitter -->
				<li><a class="twitter-follow-button" href="https://twitter.com/barzola95" data-show-count="false" data-lang="es"></a></li>
			</ul>
		</div>
		<form class="search-form" id="search-form">
			<span class="icon-search search-icon" id="lens"></span>
			<input type="text" id="search" placeholder="Buscar" name="search" class="search-input" />
		</form>
	</header>
	<section class="articles">
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<a href=""><h2 class="articles-title">Shakugan no Shana</h2></a>
				<p class="articles-text ">Serie anime de accion y romance </p>
			</div>
		</article>
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<a href=""><h2 class="articles-title">Shakugan no Shana</h2></a>
				<p class="articles-text ">Serie anime de accion y romance </p>
			</div>
		</article>
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<a href=""><h2 class="articles-title">Shakugan no Shana</h2></a>
				<p class="articles-text ">Serie anime de accion y romance </p>
			</div>
		</article>
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<a href=""><h2 class="articles-title">Shakugan no Shana</h2></a>
				<p class="articles-text ">Serie anime de accion y romance </p>
			</div>
		</article>
	</section>
	<footer class="footer">
		<div class="footer-information inline-block">
			<p>autor</p>
			<p>Boris Barzola Fariño</p>
			<p>Sigueme</p>
			<p>
				<a href="https://www.facebook.com/borisbarzola95" target="_blank"><span class="icon-facebook social-icon"></span></a>
				<a href="https://github.com/barzola95" target="_blank"><span class="icon-github social-icon"></span></a>
				<a href="https://twitter.com/barzola95" target="_blank"><span class="icon-twitter social-icon"></span></a>
			</p>
		</div>
		<form class="footer-form" id="footer-form">
			<h3 class="footer-form-title">Contactame</h3>
			<label for="name-contact" class="footer-label">Nombre </label>
			<input type="text" id="name-contact" placeholder="Nombre" name="name" class="footer-input" />
			<label for="email-contact" class="footer-label">Email </label>
			<input type="email" id="email-contact" placeholder="Email" name="email" class="footer-input" />
			<textarea id="motivo-contact" placeholder="Motivo" class="footer-text"></textarea>
			<button type="submit" class="footer-submit">Contactame</button>	
		</form>
		<div class="footer-form-information">Utilize el formulario contacto responsablemente por ejemplo si hay un error en los link del sitio</div>
		<a href="#" id="show-form" class="show-form">Ver Formulario de contacto</a>
		<a href="#" id="hide-form" class="hide-form">Ocultar Formulario de contacto</a>
	</footer>
	<script src="http://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0&appId=590196531083073"></script>
	<script src="https://platform.twitter.com/widgets.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>