<!DOCTYPE html>
<html lang="es">
<head>
	<title>Animex</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width-device=width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header class="header">
		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a href="#" class="nav-link">Animes</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Juegos</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Paginas</a>
				</li>
			</ul>
		</nav>
		<h1 class="header-title">Animex</h1>
		<form class="search-form">
			<span class="icon-search search-icon"></span>
			<input type="text" id="search" placeholder="Buscar" name="search" class="search-input" />
		</form>
	</header>
	<section class="articles">
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<h2 class="articles-title">¿Qué vendrá de Mejorando.la y Platzi en el 2015?</h2>
				<p class="articles-text ">Figura 5.13 Ejemplo de posicionamiento float de una caja. Cuando se posiciona una caja de forma flotante: * La caja deja de pertenecer al flujo normal de la ...</p>
			</div>
		</article>
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<h2 class="articles-title">¿Qué vendrá de Mejorando.la y Platzi en el 2015?</h2>
				<p class="articles-text ">Figura 5.13 Ejemplo de posicionamiento float de una caja. Cuando se posiciona una caja de forma flotante: * La caja deja de pertenecer al flujo normal de la ...</p>
			</div>
		</article>
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<h2 class="articles-title">¿Qué vendrá de Mejorando.la y Platzi en el 2015?</h2>
				<p class="articles-text ">Figura 5.13 Ejemplo de posicionamiento float de una caja. Cuando se posiciona una caja de forma flotante: * La caja deja de pertenecer al flujo normal de la ...</p>
			</div>
		</article>
		<article class="articles-list">
			<figure class="articles-image-container">
				<img src="../static/images/avatar.jpg" alt="avatar" class="articles-image" height="200" />
			</figure>
			<div class="articles-description">
				<h2 class="articles-title">¿Qué vendrá de Mejorando.la y Platzi en el 2015?</h2>
				<p class="articles-text ">Figura 5.13 Ejemplo de posicionamiento float de una caja. Cuando se posiciona una caja de forma flotante: * La caja deja de pertenecer al flujo normal de la ...</p>
			</div>
		</article>
	</section>
	<footer class="footer">
		<div class="footer-information inline-block">
			autor <a href="#" class="footer-link">@barzola95</a>
			<a href="#" id="contact" class="footer-link">Contactame</a>
		</div>
		<form class="footer-form">
			<h3 class="footer-form-title">Contactame</h3>
			<label for="name-contact" class="footer-label">Nombre </label>
			<input type="text" id="name-contact" placeholder="Nombre" name="name" class="footer-input" />
			<label for="email-contact" class="footer-label">Email </label>
			<input type="email" id="email-contact" placeholder="Email" name="email" class="footer-input" />
			<textarea id="motivo-contact" placeholder="Motivo" class="footer-text"></textarea>
			<button type="submit" class="footer-submit">Contactame</button>	
		</form>
	</footer>
</body>
</html>